<div class="main-content" ng-controller="ShellController as vm">
    <header>
        <a href="#content" id="skip-nav">Skip Navigation</a>
        <ht-top-nav navline="vm.navline"></ht-top-nav>
    </header>
    <section id="content" class="container-fluid content">
<!--        <div ng-include="'app/layout/sidebar.html'"></div>-->

        <div ui-view class="shuffle-animation view-container"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif" alt="Loading Indicator">

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <a href="http://www.beyondsecurity.com/vulnerability-scanner-verification/nete-peachtree.herokuapp.com"><img style="width:auto;padding-top:1rem;" src="https://seal.beyondsecurity.com/verification-images/nete-peachtree.herokuapp.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" /></a>
      </div>
    </nav>
</div>
