<section id="food-view" class="mainbar">
    <section class="matter container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-6 food-left">
                <div id="map-container" class="row-fluid chart">
                    <div ng-if="vm.ready" id="tooltip-container"></div>
                    <choro-map ng-if="vm.ready" val='vm.data'></choro-map>
                </div>
            </div>
            <!--end of graph report column -->
            <div class="col-xs-12 col-lg-6">
                <h1>List of top 10 States by Enforcement Actions</h1>
                <div class="table-responsive">
                    <table class="table table-condensed table-sort">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortType = 'rank'; vm.sortReverse = !vm.sortReverse">Rank
                                    <i class="fa fa-caret-up" ng-show="vm.sortType == 'rank' && !vm.sortReverse"></i>
                                    <i class="fa fa-caret-down" ng-show="vm.sortType == 'rank' && vm.sortReverse"></i>
                                </th>
                                <th ng-click="vm.sortType = 'term'; vm.sortReverse = !vm.sortReverse">State
                                    <i class="fa fa-caret-up" ng-show="vm.sortType == 'term' && !vm.sortReverse"></i>
                                    <i class="fa fa-caret-down" ng-show="vm.sortType == 'term' && vm.sortReverse"></i>
                                </th>

                                <th ng-click="vm.sortType = 'count'; vm.sortReverse = !vm.sortReverse">No. of Enforcement Actions
                                    <i class="fa fa-caret-up" ng-show="vm.sortType == 'count' && !vm.sortReverse"></i>
                                    <i class="fa fa-caret-down" ng-show="vm.sortType == 'count' && vm.sortReverse"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in vm.data | orderBy:vm.sortType:vm.sortReverse | filter:vm.top10Filter" class="flip">
                                <td>{{d.rank}}</td>
                                <td>{{d.stateName}}</td>
                                <td>{{d.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end of details dashboard column -->
        </div>
    </section>
</section>
