<section id="dashboard-view" class="mainbar">
    <section class="matter container-fluid">
        <div class="row">
           <div class="col-xs-12 col-md-6">
               <div class="row">
                   <ul class="nav nav-pills nav-justified">
                      <li role="presentation" class="active"><a href="#">Drugs</a></li>
                      <li role="presentation"><a href="#">Devices</a></li>
                      <li role="presentation"><a href="#">Food</a></li>
                   </ul>
               </div>
               <div class="row">
                   <canvas id="line" class="chart chart-bar" data="[219582,204860,169284,167516,167170]" labels="['ENBREL','REGULAR STRENGTH PAIN RELIEF','HUMIRA','ECOTRIN','BUFFERIN']" legend="true" click="onClick"></canvas>
               </div>
            </div><!--end of graph report column -->
            <div class="col-xs-12 col-md-6">
                <h3>List of top 10 Drugs by reported AE's</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortType = 'rank'; vm.sortReverse = !vm.sortReverse">Rank <i class="fa fa-caret-up" ng-show="vm.sortType == 'rank' && !vm.sortReverse"></i><i class="fa fa-caret-down" ng-show="vm.sortType == 'rank' && vm.sortReverse"></i>
                                </th>
                                <th ng-click="vm.sortType = 'term'; vm.sortReverse = !vm.sortReverse">Drug <i class="fa fa-caret-up" ng-show="vm.sortType == 'term' && !vm.sortReverse"></i><i class="fa fa-caret-down" ng-show="vm.sortType == 'term' && vm.sortReverse"></i>
                                </th>
                                <th ng-click="vm.sortType = 'count'; vm.sortReverse = !vm.sortReverse">No. AE <i class="fa fa-caret-up" ng-show="vm.sortType == 'count' && !vm.sortReverse"></i><i class="fa fa-caret-down" ng-show="vm.sortType == 'count' && vm.sortReverse"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in vm.drugs.results | orderBy:vm.sortType:vm.sortReverse">
                                <td>{{d.rank}}</td>
                               <td>{{d.term}}</td>
                               <td>{{d.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end of details dashboard column -->
        </div>
    </section>
</section>
