<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row-fluid">
                <h1>List of Drugs</h1>
                <div class="widget-content user">
                    <table ng-show="vm.drugs.results">
                        <thead>
                            <tr>
                                <th ng-click="vm.sortType = 'term'; vm.sortReverse = !vm.sortReverse">Drug <i class="fa fa-caret-up" ng-show="vm.sortType == 'term' && !vm.sortReverse"></i><i class="fa fa-caret-down" ng-show="vm.sortType == 'term' && vm.sortReverse"></i>
                                </th>
                                <th ng-click="vm.sortType = 'count'; vm.sortReverse = !vm.sortReverse">Side Effect Reports <i class="fa fa-caret-up" ng-show="vm.sortType == 'count' && !vm.sortReverse"></i><i class="fa fa-caret-down" ng-show="vm.sortType == 'count' && vm.sortReverse"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in vm.drugs.results | orderBy:vm.sortType:vm.sortReverse">
                                <td>{{d.term}}</td>
                                <td>{{d.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--
<h3 ng-repeat="d in vm.drugsTop10.results">
{{ d.term}} - {{ d.count }}
</h3>
-->
                </div>
            </div>
        </div>
    </section>
</section>
