<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="List of Drugs"></div>
                    <div class="widget-content user">
                       <table>
                          <tr>
                              <th ng-click="sortType = 'term'; sortReverse = !sortReverse">Drug</th>
                              <th ng-click="sortType = 'count'; sortReverse = !sortReverse">Side Effect Reports</th>
                          </tr>
                           <tr ng-repeat="d in vm.drugsTop10.results | orderBy:sortType:sortReverse">
                               <td>{{d.term}}</td>
                               <td>{{d.count}}</td>
                           </tr>
                       </table>
<!--
                        <h3 ng-repeat="d in vm.drugsTop10.results">
                            {{ d.term}} - {{ d.count }}
                        </h3>
-->
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
